body{
    font-family: Arial, Helvetica, sans-serif;
}

#h5{
    color:orangered;
    
}
#h6{
    color: brown;
}
#lo{
    color: darkgoldenrod;
}
#lp{
    color: dodgerblue;
}
#bo{
    color: forestgreen;
}
#container{
    padding-bottom: 40px;
    padding-left: 0px;
}
.footer{
    background-color: coral;
}
.texto{
    padding-top: 50px;
    font-size: 80%;
}
.icone{
    padding-top: 15px;
}